<app-navbar></app-navbar>


<div class="container">

<div class="row">

  <div class="col-lg-6 mt-5"  *ngFor="let kayit of kayitlar">
<div class="stokmain" style="width: 100%; height: 200px;">
  <div class="row">
    <div class="col-lg-6"><div class="stokfotosu" style="width: 100%; height: 150px;">
      <img style="width: 100%; height: 150px;" src="assets/2.png" alt=""></div></div>
    
    <div class="col-lg-6">
      <div class="stokbaslik">
        <h3><b>Gelecek Stok : {{kayit.GelecekStoklar}}</b></h3>
        <p>Ürün Bilgisi : {{kayit.Bilgi}}</p>
        
      </div>
    </div>
  </div>
</div>
  </div>

  </div>
</div>




<app-footer></app-footer>