<section class="mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12" style="background-color: #7434F9; height: auto">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 d-flex justify-content-center">
              <ul style="list-style-type:none; color:white" class="mt-5">
                <li><b><h3>Menü</h3></b></li>
                <hr>
                <li><a style="color:white" href="">Anasayfa</a></li>
                <li><a style="color:white" href="Hikayemiz">Hikayemiz</a></li>
                <li><a style="color:white" href="urunler">Ürünler</a></li>
                <li><a style="color:white" href="stoklaragelecek">Gelecek Stoklar</a></li>
                <li><a style="color:white" href="IletisimeGec">İletişim</a></li>
              </ul>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
              <ul style="list-style-type:none; color:white" class="mt-5">
                <li><b><h3>İletişim Bilgileri</h3></b></li>
                <hr>
                <li>Adres: Pınarbaşı, Akdeniz Ünv., 07070 Konyaaltı/Antalya</li>
                <li>Telefon: 0537 228 10 99</li>
                <li>Sabit Telefon: 0242 310 67 06</li>
                <li>Eposta: ramazansari@mail.com</li>
                <li>instagram: @rmznsrii</li>

              </ul>
            </div>

     
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
