<app-navbar></app-navbar>
<app-header></app-header>



<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 style="text-align: center;">VİTRİN</h1>
        <hr>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row mt-3">
    <div class="col-lg-4 d-flex justify-content-center mt-3">
      <div class="stokmain">
        <div class="stokfotosu">
          <a href="#"><img style="width: 100%; height: 300px;" src="assets/8.png" alt=""></a>
        </div>
        <a style ="text-decoration: none; color: black;" href="#"><div class="stokbaslik" style=" margin-top: 10px; height: 50px; overflow: hidden;"><h4 style="text-align: center;">Faber-Castell: PVC-FREE Black</h4></div></a>
        <div class="stokaciklamasi" style="height: 100px; overflow: hidden;"><p>Faber-Castell: PVC-FREE Black Vitrinimizde sürekli varlığını koruyan ürünlerimizdendir. Silgi çeşitleri, asırlar boyunca kurşun kalem yazılarını düzeltmek için kullanılmış.</p></div>
      </div>
    </div>
    
    <div class="col-lg-4 d-flex justify-content-center mt-3">
      <div class="stokmain">
        <div class="stokfotosu">
          <a href="#"><img style="width: 100%; height: 300px;" src="assets/9.png" alt=""></a>
        </div>
        <a style ="text-decoration: none; color: black;" href="#"><div class="stokbaslik" style=" margin-top: 10px; height: 50px; overflow: hidden;"><h4 style="text-align: center;">Serve E-Bot Kalemtraş-Silgi Sarı</h4></div></a>
        <div class="stokaciklamasi" style="height: 100px; overflow: hidden;"><p>Tasarım yönü çok güçlü olan ve iki fonksiyonu aynı üründe birleştiren yepyeni bir ürün, çocukların yeni tutkusu olacak! Alman menşeli dayanıklı bıçaklar.</p></div>
      </div>
    </div>
    <div class="col-lg-4 d-flex justify-content-center mt-3">
      <div class="stokmain">
        <div class="stokfotosu">
          <a href="#"><img style="width: 100%; height: 300px;" src="assets/10.png" alt=""></a>
        </div>
        <a style ="text-decoration: none; color: black;" href="#"><div class="stokbaslik" style=" margin-top: 10px; height: 50px; overflow: hidden;"><h4 style="text-align: center;">Frozen Şeffaf Matara</h4></div></a>
        <div class="stokaciklamasi" style="height: 100px; overflow: hidden;"><p>Şeffaf ve renkli tasarım. Kolay taşıma sağlayan askı. Kolay su içimi sağlayan tasarım. Sağlığa zararlı madde içermez, tüm sağlık testlerinden başarı ile geçmiştir.</p></div>
      </div>
    </div>
   
  </div>

</div>

<app-footer></app-footer>
